<html>
<head>
    <link href="{{ "tutorial/layout.css" | relURL }}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>

<body>
  
  <div id="toc">
    
  </div>
  
  <div id="title" style="background: white; opacity: 1;">
    <a href="{{ .Parent.RelPermalink }}">Back</a>
    <h1>Erstellung von Pull Request</h1>
  </div>

  <div class="row">
    <div id="tocPlaceholder" class="col col-2">
      <!-- Placeholder for navbar -->
    </div>
    <div class="col">
      <div id="content">
        {{ range .Pages }}
            <div class="card">
              <div class="card-body">
                  {{ .Content }}
              </div>
            </div>
        {{ end }}

      </div>
    </div>

  </div>

  <script src="{{ "tutorial/toc.js" | relURL }}" type="application/javascript"></script>

  
</body>

</html>